body{
    margin: 0px;
    background-color: white;
}


/* NAV */
header{
    margin-top: 0;
}
header ul.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #050C30;
    height: 100%;
    position: fixed;
    overflow: auto;
    text-align: center;
}
.logo{
    padding-top: 20px;
    padding-bottom: 100px;
    width: 150px;
}
header .menu li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;

}
header .menu li a:hover{
    background-color: white;
    color: #050C30;
}
.rs{
    position: absolute;
    right: 10px;
    padding-top: 10px;
    z-index: 100;
}
.rs img{
    display: inline-block;
    width: 25px;
}


/* SECTION */
section{
    margin-left: 30%;
    margin-right: 5%;
}
.entete{
    padding-top: 40px;
    border-bottom: 2px solid #E6E6E6;
    position: relative;
}
.bloc1{
    position: relative;
    margin-top: 70px;
}
.bloc1 img{
    width: 200px;
    margin-left: 29%;
    border-left: 80px solid black;
    border-right: 80px solid black;
    border-top: 20px solid black;
    border-bottom: 20px solid black;
}
.bloc2{
    position: relative;
    margin-top: 70px;
}
.bloc2 img{
    width: 200px;
    margin-left: 18%;
}
.bloc3{
    position: relative;
    margin-top: 70px;
}
.bloc3 img{
    width: 230px;
    margin-left: 45%;
}

footer{
    margin-top: 150px;
    background-color: #E6E6E6;
}
footer div{
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
}
.newsletter{
    margin-left: 20%;
}
.send_news{
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    background-color: #050C30;
    color: white;;
    border: 2px solid #050C30;
    font-size: 10px;
}
.send_news:hover{
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    background-color: white;
    color: #050C30;
    border: 2px solid #050C30;
}




/* FONT */
@font-face{
    font-family: Avenir;
    src: url('../font/avenir.otf');
}
header .menu li a{
    font-family: Avenir;
}
h1{
    font-family: Avenir;
    font-size: 40px;
    font-weight: 700;
    margin-left: 5%;
}
.entete a{
    font-family: Avenir;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    position: absolute;
    color: #A4A4A4;
    padding-left: 20px;
    border-left: 2px solid #E6E6E6;
    left: 35%;
    top: 83px;
}
.entete a:hover{
    color: black;
}
.citation{
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    text-align: center;
}
.bloc1 p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 32px;
    font-weight:900px;
    position: absolute;
    
    writing-mode: vertical-rl;
    text-orientation: upright;
}
.bloc1 .name1{
    margin-left: 24%;
    color: black;
}
.bloc1 .name2{
    margin-left: 29%;
    margin-top: 8%;
    color: white;
}
.bloc1 .name3{
    margin-left: 33%;
    margin-top: 17%;
    color: white;
}
.bloc2 p, .bloc3 p{
    font-family: 'Cormorant Garamond', serif;
    position: absolute;
}
.nombre1{
    font-size: 150px;
    bottom: 30px;
    left: 45%;
}
.mot1{
    font-size: 30px;
    bottom: 185px;
    left: 62%;
}
.reportage{
    font-size: 30px;
    bottom: 150px;
    left: 45%;
}
.pays{
    font-size: 21px;
    bottom: 0px;
    left: 45%;
}
.nombre2{
    font-size: 150px;
    top: -220px;
    left: 30%;
}
.mot2{
    font-size: 30px;
    top: 50px;
    left: 37%;
}
.art{
    font-size: 30px;
    top: 90px;
    left: 4%;
}
.lieu{
    font-size: 21px;
    top: 150px;
    left: 20%;
    text-align: right;
}
footer{
    font-family: Avenir;
    font-size: 10px;
    color: #050C30;
    text-align: center;
}
