body{
    margin: 0px;
    background-color: white;
}


/* NAV */
header ul.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #050C30;
    height: 100%;
    position: fixed;
    overflow: auto;
    text-align: center;
    z-index: 100;
}
.logo{
    padding-top: 20px;
    padding-bottom: 100px;
    width: 150px;
}
header .menu li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;

}
header .menu li a:hover{
    background-color: white;
    color: #050C30
}
.bg{
    width: 100%;
    position: absolute;
}




/* FONT */
@font-face{
    font-family: Avenir;
    src: url('../font/avenir.otf');
}
header .menu li a{
    font-family: Avenir;
}